nav{
    width: 310px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: hsl(0, 0%, 5%);
    padding: 10px 14px;
    background-color: hsl(0, 0%, 98%);
    border: 1.5px solid hsl(0, 0%, 20%);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease-in-out;
}
nav a:hover{
    transform: scale(1.1)
}
.h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 10px;
}