html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.navbar ul{
    list-style-type: none;
    display: flex;
}
.navbar {
    display: flex;
    justify-content: end;
    align-items: end;
}
.navbar ul li{
    margin: 10px;
}
a {
    text-decoration: none;
    color: hsl(0, 0%, 25%);
    font-family: sans-serif;
}

.navbar a:hover, .ftinfo a:hover{
    color: hsl(0, 0%, 20%);
    text-decoration: underline;
}
div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    background-color: hsla(0, 0%, 0%, 0);
    border: 0;
    border-radius: 100px;
    background-position: 100px 100px;
    background-size: 100px 100px;
}
.menu:hover{
    background-color: hsla(0, 0%, 10%, 0.16);
}
.bi.bi-person-circle{
    margin-right: 10px;
    border-radius: 100px;
}
.bi.bi-person-circle:hover{
    background-color: hsla(0, 0%, 10%, 0.16);
}

#search{
    outline: none;
    border: none;
    background-color: hsla(0, 0%, 100%, 0);
    height: 25px;
    width: max-content;
    min-width: 200px;
}
.search-box svg{
    fill: rgb(56, 56, 56);
    width: 30px;
    height: 30px;
    padding: 3px;
}
.goxjub{
    cursor: pointer;
    margin-right: 5px;
}
.Gdd5U {
    cursor: pointer;
}


.search-container{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    border-radius: 40px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 100px;
    margin-right: 100px;
    flex: 100%;
    max-width: 550px;
    box-shadow: 1px 1px 10px hsla(0, 0%, 0%, 0.284);
}
#search{
    font-family: sans-serif;
    resize: none;
    display: flex;
    flex: 100%;
    font-size: 1em;
    text-align: start;
}
#lupa{
    fill: rgb(85, 85, 85);
    margin-right: 5px;
    width: 25px;
}
.buttons{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons button{
    font-size: 0.9em;
    margin-right: 10px;
    padding: 10px;
    border: none;
    background-color: hsl(0, 0%, 97%);
    border-radius: 1px;
}
.buttons button:hover{
    cursor: pointer;
}
div.empty{
    display: flex;
    flex: 100%;
}
footer{
    padding-top: 10px;
    position: relative;
    background-color: hsl(0, 0%, 95%);
}
hr{
    color: hsla(0, 0%, 99%, 0.319);
}
.ftinfo{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.ftinfo a{
    cursor: pointer;
    font-size: 15px;
    margin-left: 10px;
}
.region{
    text-decoration: none;
    color: hsl(0, 0%, 25%);
    font-family: sans-serif;
    margin-left: 40px;
}
@media screen and (max-width:600px) {
    .ftinfo{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
}
    .ft2{
        margin-top: 20px;
    }
}